html {
	background: #2d2d2d;
}

body {
	background: white;
	width: 780px;
	margin: auto;
	padding: 5px 40px;
	font-family: Arial, Helvetica, sans-serif;
}

p,li { line-height: 1.5 }

p#footer {
	font-size: small;
	border-top: 1px dotted grey;
}

table#traintimings {
	font-size: small;
}

span.nick { color: grey }
col#k2sd, col#s2kd { background: #f0f0f0}
