<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>IISER Kolkata Students' Site</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="verify-v1" content="UpHllLbRYQI9rBcZMnPc6Vnk7pmFZ7CtOMG8QYb3irI=" />

<link href="/static/style-plain-v2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="lightbox.js"></script>
<link href="lightbox.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
	div#sidebar {width:200px;}
	div#sidebar li {
		list-style-type: none;
		margin-left: -50px;
	}
	img { border: 1px solid silver; padding:2px;}
	p { font-size: 90%; color: #555}
	div#sidebar a { color: #444 }
	div#sidebar a:hover { color: #1394a2}
	div#sidebar {font-size: 100%}
	div#sidebardummy { position:absolute; height: 100%}
	div#sidecontent { width:500px }
	h1 { font-weight: normal; font-size:200%;}
	h1 a { text-decoration:none}
</style>
</head>

<body>
	
<div id="header">
<div id="heading"><h1>students' site of 
		<a href="http://www.iiserkol.ac.in"><span style="color:#1a84ac">iiser kolkata</span></a></h1></div>
<div id="logo"><a href="/"><img src="header-small.png"/></a></div>
</div>

<div id="content">
<div id="sidebar">
<ul class="subnav">
	<li><a href="/students">student homepages</a></li>
	<li><a href="/info">useful docs and info</a></li>
	<li><a href="/magazine">magazine</a></li>
	<li><a href="http://planet.iiserk.net">blogroll</a></li>
	<li><a href="http://www.iiserkol.ac.in" >official website</a></li>
	<li><a href="/reach">how to reach iiser</a></li>
	<li><a href="http://mail.iiserk.net"><i>@iiserk.net</i> email</a></li>
	<li><a href="https://mx1.iiserkol.ac.in"><i>@iiserkol.ac.in</i> email</a></li>
</ul>
<br/><br/>

<!--Embed IISERK Notices-->
{{ feedtext }}
<!--End Notices-->

</div>
	
<div id="sidecontent">
<h2>Fresh stuff</h2>

<p id="linkbar">
2009 Autumn timetables (PDF)<br/>
<a href="ttsem1.pdf">first</a>
<a href="ttsem3.pdf">third</a>
<a href="ttsem5.pdf">fifth</a>
<a href="ttsem7.pdf">seventh</a>
semester
<p>

<p><b>Frequently asked questions</b> about IISER (the previous
future prospects/placements section) has moved to its
<a href="/faq">own page</a>.</p>

<p><a href="/campus-life">Campus Life at IISER Kolkata</a> <span class="postdate">
	posted on 15 June 2009</span></p>

<h2>Gallery</h2>

<p>Nice photographs of the campus</p>

<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm3.static.flickr.com/2464/3622575075_861dca59f3_o.jpg" rel="lightbox" title="The IISER Kolkata campus"><img src="http://farm3.static.flickr.com/2464/3622575075_97eef6c3d8_t.jpg" alt="The IISER Kolkata campus" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3359/3622721201_d69914c93d_o.jpg" rel="lightbox" title="Students of IISER Kolkata being addressed by Shri. Gopal Krishna Gandhi, Governor of West Bengal"><img src="http://farm4.static.flickr.com/3359/3622721201_44ea2ae26c_t.jpg" alt="Students of IISER Kolkata being addressed by Shri. Gopal Krishna Gandhi, Governor of West Bengal" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3192/3622575523_7a47ac50e2_o.jpg" rel="lightbox" title="Students of IISER Kolkata"><img src="http://farm4.static.flickr.com/3192/3622575523_ddaff465dc_t.jpg" alt="Students of IISER Kolkata" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3597/3622721459_ce1660c27e_o.jpg" rel="lightbox" title="A Seminar in progress"><img src="http://farm4.static.flickr.com/3597/3622721459_40755a4386_t.jpg" alt="A Seminar in progress" /></a></td>
	</tr>
</table>
</div>


<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm4.static.flickr.com/3325/3622632041_2b1afc52b6_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3325/3622632041_34fb538a5e_t.jpg" alt="" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3370/3622630857_88e1d27283_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3370/3622630857_2ce5d52667_t.jpg" alt="" /></a></td>
	<td><a href="http://farm3.static.flickr.com/2464/3623395138_1848b4232a_o.jpg" rel="lightbox" title=""><img src="http://farm3.static.flickr.com/2464/3623395138_06e756e957_t.jpg" alt="" /></a></td>
	<td><a href="http://farm3.static.flickr.com/2477/3622631341_0dbf8f4a39_o.jpg" rel="lightbox" title="The area around the campus is abound with such water bodies!"><img src="http://farm3.static.flickr.com/2477/3622631341_65a91046e2_t.jpg" alt="The area around the campus is abound with such water bodies!" /></a></td>
	</tr>
</table>
</div>

<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm4.static.flickr.com/3299/3623586704_e217e3f8f3_o.jpg" rel="lightbox" title="Table Tennis @ Common Rooms"><img src="http://farm4.static.flickr.com/3299/3623586704_33c2093b91_t.jpg" alt="Table Tennis @ Common Rooms"
/></a></td>
	<td><a href="http://farm4.static.flickr.com/3357/3623423564_61282dabe3_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3357/3623423564_38c842c968_t.jpg" alt="" /></a></td>
	<td><a href="http://farm3.static.flickr.com/2434/3623424270_45ecf4f883_o.jpg" rel="lightbox" title="Cycling is the best way to get around the campus"><img src="http://farm3.static.flickr.com/2434/3623424270_02210fb7d4_t.jpg" alt="Cycling is the best way to get around the campus" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3651/3623424896_aa02fcb4c8_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3651/3623424896_b8b7ff7e14_t.jpg" alt="" /></a></td>
	</tr>
</table>
</div>

<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm3.static.flickr.com/2475/3623477212_d75df7f746_o.jpg" rel="lightbox" title=""><img src="http://farm3.static.flickr.com/2475/3623477212_d3bb9530ea_t.jpg" alt="" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3349/3622658761_02a803f9a9_o.jpg" rel="lightbox" title="Introduction Session for the new batch of 2008"><img src="http://farm4.static.flickr.com/3349/3622658761_d3b5491ee6_t.jpg" alt="Intro session for the new batch of 2008" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3541/3622658329_b1bf94d543_o.jpg" rel="lightbox" title="Winners of the Paint-Your-Face competition"><img src="http://farm4.static.flickr.com/3541/3622658329_682b906716_t.jpg" alt="Winners of the Paint-Your-Face competition" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3537/3623478424_26a80ca112_o.jpg" rel="lightbox" title="One of the many student parties"><img src="http://farm4.static.flickr.com/3537/3623478424_fb009e49f4_t.jpg" alt="One of the many student parties" /></a></td>
		</tr>
</table>
</div>
<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm4.static.flickr.com/3395/3622694631_985f260827_o.jpg" rel="lightbox" title="A play by the Dramatics Society"><img src="http://farm4.static.flickr.com/3395/3622694631_f4c8b404fe_t.jpg" alt="A play by the Dramatics Society" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3600/3623513844_78b2046daf_o.jpg" rel="lightbox" title="A play by the Dramatics Society"><img src="http://farm4.static.flickr.com/3600/3623513844_15bfef7b37_t.jpg" alt="A play by the Dramatics Society" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3401/3623514308_e96c9feeee_o.jpg" rel="lightbox" title="Janmashthami Celebrations"><img src="http://farm4.static.flickr.com/3401/3623514308_796a70d5a3_t.jpg" alt="Janmashthami Celebrations"/></a></td>
	<td><a href="http://farm4.static.flickr.com/3313/3622696065_8cdf697ecc_o.jpg" rel="lightbox" title="Birds in the Campus"><img src="http://farm4.static.flickr.com/3313/3622696065_560b3debd7_t.jpg" alt="Birds in the campus"/></a></td>
	</tr>
</table>
</div>
<!-- end main -->

</div>
</div>
<p id="footer" style="text-align:center">
&copy; 2009 IISER Kolkata Students' Web Team<br/>
The views expressed here are of the students and have nothing to do
with the IISER authorities. </p>


</body>
</html>

<!-- # vim: set ts=4 sw=4 noet: -->
