<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>IISER Kolkata Students' Site</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="verify-v1" content="UpHllLbRYQI9rBcZMnPc6Vnk7pmFZ7CtOMG8QYb3irI=" />

<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="lightbox.js"></script>
<link href="lightbox.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	
<div id="wrap">
<div id="header">
	
<div id="logo">
  <h1><a href="index.html">IISERK</a></h1>
</div>

<div id="nav">
  <ul>
 	<li><a href="#">indian institute of science education and research </a></li>
	<li><a href="#">- Kolkata </a></li>
	<li class="active"></li>
	<li></li>
	<li></li>
	<li></li>
  </ul>
</div>

<!-- Make sure you use a 770x230 image here! -->
<div id="header-img">
	<img src="header.jpg" alt="logo" />
</div>
	
<!-- If you dont need bread crumb navigation then simply delete the following
  div and also in the CSS file set #header 's height to 350px to make it look good  -->
<div id="breadcrumbs">
	<p><a href="http://www.iiserk.net">IISERK</a> &raquo; Home </p> 
</div>
	
</div><!-- end header -->

<div id="main" class="fixed"> <!-- assign the class .fixed to any container element that contains floated child elements.This is a hack to clear floated elements -->
<div id="sidebar">
<ul class="subnav">
	<li><a href="#" class="selected">Overview</a></li>
	<li><a href="students">Students' homepages</a></li>
	<li><a href="static/info.html">Some useful docs and info-links</a></li>
	<li><a href="static/magazine.html">IISER Magazine</a></li>
	<li><a href="http://planet.iiserk.net">Blogroll of IISERians</a></li>
	<li><a href="http://www.iiserkol.ac.in" >Official Website</a></li>
	<li><a href="static/reach.html">How to reach iiserk</a></li>
	<li><a href="http://mail.iiserk.net"><i>@iiserk.net</i> Email</a></li>
	<li><a href="https://mx1.iiserkol.ac.in"><i>@iiserkol.ac.in</i> Email</a></li>
</ul>
<br/><br/>

<!--Embed IISERK Notices-->
{{ feedtext }}
<!--End Notices-->

<!-- Start of Flickr Badge -->
<table id="flickr_badge_uber_wrapper" cellpadding="0" cellspacing="10" border="0">
<tr>
<td>
<!--<a href="http://www.flickr.com" id="flickr_www" name="flickr_www">www.<strong style="color:#3993ff">flick<span style="color:#ff1c92">r</span></strong>.com</a>-->
<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=5&amp;display=random&amp;size=t&amp;layout=v&amp;source=user_set&amp;user=31495888%40N05&amp;set=72157619616898597&amp;context=in%2Fset-72157619616898597%2F"></script>
</td>
</tr>
</table>
		<!-- End of Flickr Badge -->
</div>
	<!-- end sidebar -->
	
	
<div id="content" class="fixed">
	<!-- inceput continut content-->
<h1>IISER Kolkata: An overview </h1>
<p>IISERs are unique institutes in themselves as they offer a 5 year integrated
masters course in basic sciences. Such a course was the need of the hour in
India where there is a great need of research scholars in coming years.</p>

<div class="alignfix">
	<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm4.static.flickr.com/3369/3622536521_f2a7943baa_o.jpg" rel="lightbox" title="The J.C.Bose Building - The Main Academic Wing"><img src="http://farm4.static.flickr.com/3369/3622536521_d6330ef639_t.jpg" alt="The J.C.Bose Building - The Main Academic Wing" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3601/3622537413_26d886e087_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3601/3622537413_cafa7dbcb6_t.jpg" alt="" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3393/3622537045_02e901ef82_o.jpg" rel="lightbox" title="Central Library"><img src="http://farm4.static.flickr.com/3393/3622537045_45144a2c31_t.jpg" alt="Central Library" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3618/3623434460_de5c6338bc_o.jpg" rel="lightbox" title="Students sporting the 'IISER - Inspired Science' T-Shirt"><img src="http://farm4.static.flickr.com/3618/3623434460_1eaf09fa8d_t.jpg" alt="Students sporting the 'IISER - inspired science T-shirt'" /></a></td>
	</tr>
	</table>
</div>

<div class="notice">
<h2>Course Pattern</h2>

<p class="justifyfix" style="margin-bottom:0">
In the 1st and 2nd year, everyone studies all the subjects. In the 3rd
year, students have to choose their subject of specialization called
<b>majors</b>. You can choose from physics, chemistry, maths, biology
or earth science. Also you get to choose a few courses as your minors.
</p>
</div>

<h2>Future Prospects/Placements</h2>

<p class="justifyfix">
Since no batch of IISER has passed out yet, we can not tell for sure
what or how much the placements would be. Taking into account the
importance the government is giving to IISERs, you can be assured of a great
future.
</p>

<p class="justifyfix">
The MS programme offered at IISER is similar to an integrated MSc
degree, but is more research oriented. Hence the prospects after doing
an MS degree will be research based jobs. These research jobs can be
at any government institution like <a
href="http://www.csir.res.in">CSIR</a>, <a
href="http://www.tifr.res.in">TIFR</a>, <a
href="http://www.isro.org">ISRO</a>, etc. or in any private company
which does research. Many private companies have their own R&amp;D
divisions.
</p>

<p class="justifyfix">
Interested students are encouraged to remain in academics and complete
their Ph.D. rather than going for a job right after the completion of MS
degree.
</p>

<h3>Do only extended list students join IISER?</h3>
<p>
No, merit listed candidates are preferred over extended list
candidates in the IISERs. There are quite a few merit listed students
studying at IISER at present. Moreover many <a
href="http://www.iisc.ernet.in/kvpy">KVPY</a> fellows join IISER as
well.
</p>

<h2>Campus Life at IISER Kolkata</h2>

<blockquote>
The highest education is that which does not merely give us
information but makes our life in harmony with all existence.
<em>Rabindranath Tagore</em> </blockquote>


<p>This is brought out explicitly in IISER Kolkata's context as the
campus life here allows the future scientists of India to be truly in
sync with Mother Nature. The essence of IISER Kolkata's teaching has
been to develop the student's mind and to bring it to a level where
understanding the fundamentals of everything is essential. The
stress is just not on the fundamentals of science, but also on the
various aspects of life that the student has lost out in today's
competitive rat-race.
</p>

<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm3.static.flickr.com/2464/3622575075_861dca59f3_o.jpg" rel="lightbox" title="The IISER Kolkata campus"><img src="http://farm3.static.flickr.com/2464/3622575075_97eef6c3d8_t.jpg" alt="The IISER Kolkata campus" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3359/3622721201_d69914c93d_o.jpg" rel="lightbox" title="Students of IISER Kolkata being addressed by Shri. Gopal Krishna Gandhi, Governor of West Bengal"><img src="http://farm4.static.flickr.com/3359/3622721201_44ea2ae26c_t.jpg" alt="Students of IISER Kolkata being addressed by Shri. Gopal Krishna Gandhi, Governor of West Bengal" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3192/3622575523_7a47ac50e2_o.jpg" rel="lightbox" title="Students of IISER Kolkata"><img src="http://farm4.static.flickr.com/3192/3622575523_ddaff465dc_t.jpg" alt="Students of IISER Kolkata" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3597/3622721459_ce1660c27e_o.jpg" rel="lightbox" title="A Seminar in progress"><img src="http://farm4.static.flickr.com/3597/3622721459_40755a4386_t.jpg" alt="A Seminar in progress" /></a></td>
	</tr>
</table>
</div>

<p>The campus life at IISER Kolkata is a wonderful mix of tranquillity
and modernity. The campus, located among serene greenery far away from
the hustle and bustle of the city, is at a place called Mohanpur, <a
href="http://en.wikipedia.org/wiki/Haringhata">Haringhata</a>. Simple
pleasures are brought out here. The beauty of the campus is immense
and we are fortunate to have most beautiful water bodies inside our
campus. While giving all the pleasures of country life to us,
Haringhata is only an hour journey away from the main city. Our
institute gives us the perfect atmosphere for us to grow into
scientists tomorrow.
</p>

<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm4.static.flickr.com/3325/3622632041_2b1afc52b6_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3325/3622632041_34fb538a5e_t.jpg" alt="" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3370/3622630857_88e1d27283_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3370/3622630857_2ce5d52667_t.jpg" alt="" /></a></td>
	<td><a href="http://farm3.static.flickr.com/2464/3623395138_1848b4232a_o.jpg" rel="lightbox" title=""><img src="http://farm3.static.flickr.com/2464/3623395138_06e756e957_t.jpg" alt="" /></a></td>
	<td><a href="http://farm3.static.flickr.com/2477/3622631341_0dbf8f4a39_o.jpg" rel="lightbox" title="The area around the campus is abound with such water bodies!"><img src="http://farm3.static.flickr.com/2477/3622631341_65a91046e2_t.jpg" alt="The area around the campus is abound with such water bodies!" /></a></td>
	</tr>
</table>
</div>

<p>Life at IISER Kolkata is heady mix of academics and fun. The
institute is fully residential. Students are accommodated in the APC
Roy Hall (Sections A and B) for boys, while girls are accommodated in
the Lilavati Hall. All the halls of residence and guest houses have
regular catering facilities. Other eating places are the Annexe
Canteen, or the numerous eating joints just outside the campus. For
daily necessities and groceries, one can walk down to the Mohanpur
Market, just outside gate number 2 of the campus. The market also has
medicine stores, tailoring shops, bookshops and facilities for
photocopying, etc. A SBI branch and an UBI branch are located at
about 5 minutes walking distance from the administrative building. SBI
ATM facility is also available. A larger market, the Kanchrapara
market is about 12 km from the Campus and is easily accessible by
local bus/autorickshaw services.</p>

<p>The main academic wing is housed at the J.C. Bose Building. Besides
the lecture halls, classrooms and the teaching laboratories, it also
houses the Library which offers about 100,000 volumes in an open shelf
system on different fields of science and technology, humanities and
social sciences. The library system is fully computerized and users
can access various online journal repositories. The C.V. Raman annexe
building houses the latest state-of-the-art research facilities. The
computing center provides high speed computational facilities to the
students and faculty. All the institute buildings are wi-fi enabled
giving access to high speed broadband internet to students 24 hours.
</p>

<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm4.static.flickr.com/3345/3623406962_3cd683a3d4_o.jpg" rel="lightbox" title="A Night View of the Main Academic Wing"><img src="http://farm4.static.flickr.com/3345/3623406962_24ae28969a_t.jpg" alt="A Night View of the Main Academic Wing" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3635/3622587031_92d1bf1cf7_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3635/3622587031_a17d2f1aaa_t.jpg" alt="" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3339/3622587437_12658f857c_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3339/3622587437_525968a225_t.jpg" alt="" /></a></td>
	<td><a href="http://farm3.static.flickr.com/2451/3623600582_2a9694abc0_o.jpg" rel="lightbox" title="The Computational Facility"><img src="http://farm3.static.flickr.com/2451/3623600582_8ebe15b50c_t.jpg" alt="The Computational Facility" /></a></td>
	</tr>
</table>
</div>

<p>Sports facilities include table tennis, badminton, volleyball
courts, cricket and football fields. We have a gymnasium to take
care of the health conscious. The green pollution free environment
ensures good health for all. However, IISER Kolkata is well equipped
to deal with medical emergencies. Besides a medical facility, there is
an ambulance at standby 24x7 outside the hostel complex.<br/>
</p>

<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm4.static.flickr.com/3299/3623586704_e217e3f8f3_o.jpg" rel="lightbox" title="Table Tennis @ Common Rooms"><img src="http://farm4.static.flickr.com/3299/3623586704_33c2093b91_t.jpg" alt="Table Tennis @ Common Rooms"
/></a></td>
	<td><a href="http://farm4.static.flickr.com/3357/3623423564_61282dabe3_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3357/3623423564_38c842c968_t.jpg" alt="" /></a></td>
	<td><a href="http://farm3.static.flickr.com/2434/3623424270_45ecf4f883_o.jpg" rel="lightbox" title="Cycling is the best way to get around the campus"><img src="http://farm3.static.flickr.com/2434/3623424270_02210fb7d4_t.jpg" alt="Cycling is the best way to get around the campus" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3651/3623424896_aa02fcb4c8_o.jpg" rel="lightbox" title=""><img src="http://farm4.static.flickr.com/3651/3623424896_b8b7ff7e14_t.jpg" alt="" /></a></td>
	</tr>
</table>
</div>

<p>Hostel life is exciting for the students, with all students from
all the years residing together. The common room is the place to be
during all important times, be it the IPL, or the World Cup or any
national calamity with satellite TV getting us the latest from around
the world. Table tennis has many fans in the hostel, with someone or
the other paddling away always. Or for those who intend to tone up
their bodies, the gym is the place to hit after a hard day's
work. Some prefer taking a lazy swim in the numerous lakes and water
bodies. For the nature lover, the campus is pure bliss, with many
varieties of flora and fauna. There are over 50 resident bird species
found around the campus. For the musically inclined, there is the very
active music club with regular meetings and jamming sessions at the
music room. For those interested in theatrics, the IISER dramatics
club is present. For the LAN-gaming enthusiasts, Counter Strike, FIFA
and Need for Speed rule the intra-hostel network. The clear skies have
instilled an interest in astronomy in many, and many people have made
star gazing their latest hobby.</p>

<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm3.static.flickr.com/2475/3623477212_d75df7f746_o.jpg" rel="lightbox" title=""><img src="http://farm3.static.flickr.com/2475/3623477212_d3bb9530ea_t.jpg" alt="" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3349/3622658761_02a803f9a9_o.jpg" rel="lightbox" title="Introduction Session for the new batch of 2008"><img src="http://farm4.static.flickr.com/3349/3622658761_d3b5491ee6_t.jpg" alt="Intro session for the new batch of 2008" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3541/3622658329_b1bf94d543_o.jpg" rel="lightbox" title="Winners of the Paint-Your-Face competition"><img src="http://farm4.static.flickr.com/3541/3622658329_682b906716_t.jpg" alt="Winners of the Paint-Your-Face competition" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3537/3623478424_26a80ca112_o.jpg" rel="lightbox" title="One of the many student parties"><img src="http://farm4.static.flickr.com/3537/3623478424_fb009e49f4_t.jpg" alt="One of the many student parties" /></a></td>
		</tr>
</table>
</div>
<div class="alignfix">
<table width="200" border="0" cellspacing="0">
	<tr>
	<td><a href="http://farm4.static.flickr.com/3395/3622694631_985f260827_o.jpg" rel="lightbox" title="A play by the Dramatics Society"><img src="http://farm4.static.flickr.com/3395/3622694631_f4c8b404fe_t.jpg" alt="A play by the Dramatics Society" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3600/3623513844_78b2046daf_o.jpg" rel="lightbox" title="A play by the Dramatics Society"><img src="http://farm4.static.flickr.com/3600/3623513844_15bfef7b37_t.jpg" alt="A play by the Dramatics Society" /></a></td>
	<td><a href="http://farm4.static.flickr.com/3401/3623514308_e96c9feeee_o.jpg" rel="lightbox" title="Janmashthami Celebrations"><img src="http://farm4.static.flickr.com/3401/3623514308_796a70d5a3_t.jpg" alt="Janmashthami Celebrations"/></a></td>
	<td><a href="http://farm4.static.flickr.com/3313/3622696065_8cdf697ecc_o.jpg" rel="lightbox" title="Birds in the Campus"><img src="http://farm4.static.flickr.com/3313/3622696065_560b3debd7_t.jpg" alt="Birds in the campus"/></a></td>
	</tr>
</table>
</div>
<!-- end main -->

<div id="footer">
<p>&copy; 2009 IISER Kolkata Students' Web Team<br/>
The views expressed here are of the students and have nothing to do
with the IISER authorities. </p>

<!-- in order to legally use this template you need to leave the following links intact. I worked hard to produce this profesional template for you to use free and would apreciate it. thank you!. delete this comment if you want-->

<p class="madeby">&nbsp;</p>

</div>
<!-- end footer -->
</div>
<!-- end wrapper -->
</div>
</div>

<div style="text-align: center; font-size: 0.75em;"></div>
</body>
</html>

<!-- # vim: set ts=4 sw=4 noet: -->
