<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="/static/style-plain.css" type="text/css" />
  <title>Webpage creator for new user</title>
</head>
<body>
<h1>Webpage creator for new user</h1>
<h3>If you are not a student of IISER Kolkata, then no need to proceed further</h3>
<h3>If you are a student of IISERK</h3>
<p>Welcome, this page will guide you through the process
   of creating your own webpage in a few minutes.</p>

<ul>
  <li>If you already have an <a href="http://iiserk.net">iiserk.net</a> account,
	proceed to the <a href="{{ login_url }}">login page</a>.</li>
  <li>If you haven't got an <a href="http://iiserk.net">iiserk.net</a> account,
    then request one at <a href="mailto:www@iiserk.net">www@iiserk.net</a>.</li>
</ul>
</body></html>
