<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/static/style-plain-v2.css" type="text/css" />
  <title>iiserk.net - homepage creator</title>
</head>
<body>

<div id="header">
<div id="heading"><h1>homepage creator</h1></div>
  <div id="logo"><a href="/"><img src="header-small.png"/></a></div>
</div>

<div id="content">

<h3>If you are not a student of IISER Kolkata, then no need to proceed further</h3>
<h3>If you are a student of IISERK</h3>
<p>Welcome, this page will guide you through the process
   of creating your own webpage in a few minutes.</p>

<ul>
  <li>If you already have an <a href="http://iiserk.net">iiserk.net</a> account,
	proceed to the <a href="/adduser2">login page</a>.</li>
  <li>If you haven't got an <a href="http://iiserk.net">iiserk.net</a> account,
    then request one at <a href="mailto:www@iiserk.net">www@iiserk.net</a>.</li>
</ul>
</div>
<p id="footer">
If you have any questions or feedback, mail us at
<a href="mailto:www@iiserk.net">www@iiserk.net</a>.</p>
</body></html>
